hostname s01ncore2

vlan 100
  name initech_clients

vlan 101
  name intertrode_clients


interface loopback0
  ip address 192.168.47.130/32
  no shut

interface Ethernet1/1
  description Initech Secondary Handoff
  ip address 172.16.0.6/30
  ip access-group initech_in in
  no shut

interface Ethernet1/2
  description Intertrode Secondary Handoff
  ip address 172.17.0.5/30
  ip access-group intertrode_in in
  no shut


interface Ethernet1/17
  description Client 1
  switchport mode trunk
  switchport trunk allowed vlan 100,101
  no shut

interface Ethernet1/18
  description Client 2
  switchport mode trunk
  switchport trunk allowed vlan 100,101
  no shut


interface Ethernet1/47
  description Peer link
  channel-group 47 mode active
  no shut

interface Ethernet1/48
  description Peer link
  channel-group 47 mode active
  no shut

interface Port-channel47
  description Peer link
  ip address 192.168.47.2/30
  switchport mode trunk
  switchport trunk allowed vlan 100,101
  no shut

interface Vlan100
  description initech Clients
  ip address 192.168.36.3/27
  no shutdown
  ip pim sparse-mode
  vrrp 1
    priority 101
    address 192.168.36.1/27
    no shutdown

interface Vlan101
  description intertrode Clients
  ip address 192.168.36.35/27
  no shutdown
  ip pim sparse-mode
  vrrp 2
    priority 101
    address 192.168.36.33/27
    no shutdown


ip access-list initech_in
  10 remark Allow BGP traffic to peer
  20 permit tcp 172.16.0.4 255.255.255.252 172.16.0.4 255.255.255.252 eq bgp
  30 permit tcp 172.16.0.4 255.255.255.252 eq bgp 172.16.0.4 255.255.255.252
  40 remark Allow established TCP connections back to clients
  50 permit tcp 172.16.1.0 255.255.255.0 192.168.36.0 255.255.255.224 established
  60 permit tcp 172.16.2.0 255.255.255.0 192.168.36.0 255.255.255.224 established
  70 remark Allow multicast traffic to defined multicast ranges
  80 permit udp any 227.16.1.0 255.255.255.0
  90 permit udp any 227.16.2.0 255.255.255.0

ip access-list intertrode_in
  10 remark Allow BGP traffic to peer
  20 permit tcp 172.17.0.4 255.255.255.252 172.17.0.4 255.255.255.252 eq bgp
  30 permit tcp 172.17.0.4 255.255.255.252 eq bgp 172.17.0.4 255.255.255.252
  40 remark Allow established TCP connections back to clients
  50 permit tcp 172.17.1.0 255.255.255.0 192.168.36.32 255.255.255.224 established
  60 permit tcp 172.17.2.0 255.255.255.0 192.168.36.32 255.255.255.224 established
  70 remark Allow multicast traffic to defined multicast ranges
  80 permit udp any 227.17.1.0 255.255.255.0
  90 permit udp any 227.17.2.0 255.255.255.0


ip prefix-list initech_in
  10 permit 172.16.1.0/24
  20 permit 172.16.2.0/24

ip prefix-list initech_out
  10 permit 192.168.36.0/27

ip prefix-list intertrode_in
  10 permit 172.17.1.0/24
  20 permit 172.17.2.0/24

ip prefix-list intertrode_out
  10 permit 192.168.36.32/27

router bgp 64001
  router-id 192.168.47.130
  address-family ipv4 unicast
    network 192.168.36.0/27
    network 192.168.36.32/27

  neighbour 172.16.0.5 remote-as 65001
    description Initech
    timers 5 15
    address-family ipv4 unicast
      prefix-list initech_in in
      prefix-list initech_out out
      soft-reconfiguration inbounr

  neighbour 172.17.0.6 remote-as 65003
    description Intertrode
    timers 10 30
    address-family ipv4 unicast
      prefix-list intertrode_in in
      prefix-list intertrode_out out
      soft-reconfiguration inbounr

